<div class="row">
  <div class="column">
    <h4>Error <small><a id="instructions-toggle" onClick="toggleResult('#instructions')">hide</a></small></h4>

    <div id="instructions">
      <pre><code><%= @explore.error %></code></pre>
    </div>
  </div>
</div>
