<div class="hidden">
  <input id="share-link" value="<%= explores_url(code: @explore.code) %>">
</div>


<div class="row">
  <div class="column">
    <h4>Instructions <small><a id="instructions-toggle" onClick="toggleResult('#instructions')">hide</a></small></h4>

    <div id="instructions">
      <pre><code><% @explore.instructions.lines.each do |line| %><%= line %><% end %></code></pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <h4>Lex <small><a id="lex-toggle" onClick="toggleResult('#lex')">show</a></small></h4>

    <div id="lex" style="display:none">
      <pre><code><% @explore.lex.each do |ll| %><%= format_lex_line(ll) %><% end %></code></pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <h4>Sexp <small><a id="sexp-toggle" onClick="toggleResult('#sexp')">show</a></small></h4>

    <div id="sexp" style="display:none">
      <pre><code><%= @explore.sexp.pretty_inspect %></code></pre>
    </div>
  </div>
</div>
