<%= form_with(model: explore) do |form| %>
  <% if explore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(explore.errors.count, "error") %> prohibited this explore from being saved:</h2>

      <ul>
        <% explore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
